In [1]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/gabarito_nivelamento/aula_02_exemplo_01.csv")

df = df.rename(columns={
    "NY.GDP.PCAP.CD": "GDP_PC",
    "SL.TLF.ADVN.ZS" : "forca_trab_educ",
    "AG.LND.ARBL.HA.PC": "arable_land",
    "NV.IND.TOTL.ZS": "industria_PERCPIB",
    "SE.XPD.TOTL.GD.ZS": "gasto_educ_PERCPIB",
    "NE.GDI.FTOT.CD": "FBKF",
    "SP.POP.TOTL": "populacao"})

df

,country_code,country_name,arable_land,FBKF,industria_PERCPIB,GDP_PC,gasto_educ_PERCPIB,forca_trab_educ,populacao
0,ABW,Aruba,0.018315,NaN,11.628810,30645.890602,4.435037,NaN,109203.0
1,AFG,Afghanistan,0.205726,NaN,14.058112,496.602504,NaN,NaN,37856121.0
2,AGO,Angola,0.165001,1.985299e+10,42.225105,2493.678844,2.073064,91.492,32375632.0
3,ALB,Albania,0.237557,3.834691e+09,22.965521,6069.439031,3.870190,75.465,2567801.0
4,AND,Andorra,0.010345,NaN,11.699818,41257.816459,3.150610,NaN,76474.0
...,...,...,...,...,...,...,...,...,...
212,XKX,Kosovo,NaN,2.452288e+09,27.088384,4415.999230,NaN,77.023,1788891.0
213,YEM,"Yemen, Rep.",0.032981,NaN,NaN,NaN,NaN,NaN,35111408.0
214,ZAF,South Africa,0.201383,6.022542e+10,23.622015,6533.711210,5.911580,82.022,59587885.0
215,ZMB,Zambia,0.205252,8.334391e+09,34.941981,1258.986198,4.418240,77.134,18513839.0
216,ZWE,Zimbabwe,0.264056,2.949265e+09,38.974946,2184.329239,NaN,69.733,15271368.0

# E se quiséssemos saber qual a população total em cada um dos quintis de riqueza?

In [2]:
df["quintil"] = pd.qcut(df["GDP_PC"], q = 5, labels = ["pobres", "médio pobres", "médio", "médio ricos", "ricos"])
df

,country_code,country_name,arable_land,FBKF,industria_PERCPIB,GDP_PC,gasto_educ_PERCPIB,forca_trab_educ,populacao,quintil
0,ABW,Aruba,0.018315,NaN,11.628810,30645.890602,4.435037,NaN,109203.0,médio ricos
1,AFG,Afghanistan,0.205726,NaN,14.058112,496.602504,NaN,NaN,37856121.0,pobres
2,AGO,Angola,0.165001,1.985299e+10,42.225105,2493.678844,2.073064,91.492,32375632.0,médio pobres
3,ALB,Albania,0.237557,3.834691e+09,22.965521,6069.439031,3.870190,75.465,2567801.0,médio
4,AND,Andorra,0.010345,NaN,11.699818,41257.816459,3.150610,NaN,76474.0,ricos
...,...,...,...,...,...,...,...,...,...,...
212,XKX,Kosovo,NaN,2.452288e+09,27.088384,4415.999230,NaN,77.023,1788891.0,médio pobres
213,YEM,"Yemen, Rep.",0.032981,NaN,NaN,NaN,NaN,NaN,35111408.0,NaN
214,ZAF,South Africa,0.201383,6.022542e+10,23.622015,6533.711210,5.911580,82.022,59587885.0,médio
215,ZMB,Zambia,0.205252,8.334391e+09,34.941981,1258.986198,4.418240,77.134,18513839.0,pobres
216,ZWE,Zimbabwe,0.264056,2.949265e+09,38.974946,2184.329239,NaN,69.733,15271368.0,médio pobres

In [3]:
df.groupby("quintil")["populacao"].sum()

/tmp/ipython-input-3901145822.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("quintil")["populacao"].sum()

quintil
pobres          1.170049e+09
médio pobres    2.853864e+09
médio           2.295017e+09
médio ricos     3.913252e+08
ricos           9.692776e+08
Name: populacao, dtype: float64

# E se quiséssemos saber qual é o investimento médio em educação comparando por quintis?

In [4]:
df.groupby("quintil")["gasto_educ_PERCPIB"].mean()

/tmp/ipython-input-444162749.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("quintil")["gasto_educ_PERCPIB"].mean()

quintil
pobres          3.949754
médio pobres    3.993517
médio           4.838781
médio ricos     4.252509
ricos           4.489634
Name: gasto_educ_PERCPIB, dtype: float64

# Qual o investimento mínimo, máximo, a mediana e a média comparando por quintis?

In [5]:
df.groupby("quintil")["gasto_educ_PERCPIB"].agg(["count","min","max", "median","mean"])

/tmp/ipython-input-1155812197.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("quintil")["gasto_educ_PERCPIB"].agg(["count","min","max", "median","mean"])

              count       min        max    median      mean
quintil
pobres           35  0.000006  14.519741  3.596836  3.949754
médio pobres     33  0.358479  10.693168  3.407486  3.993517
médio            31  2.519573   9.882090  4.447760  4.838781
médio ricos      35  2.111470   6.738080  4.224880  4.252509
ricos            32  1.136700   7.864560  4.728795  4.489634