# Dicionário de dados

| Nome da Coluna | Descrição Funcional | Tipo de Dado | Unidade de Medida | Valores Válidos |
|:--- |:--- |:--- |:--- |:--- |
| **country_code** | Código identificador único e universal do país. | Qualitativa Nominal | Texto (ISO-alpha3) | Strings de 3 letras |
| **country_name** | Nome oficial da nação no Banco Mundial. | Qualitativa Nominal | Texto | Nomes geográficos |
| **arable_land** | Terra cultivável disponível por habitante. | Quantitativa Contínua | Hectares por pessoa | Números decimais |
| **FBKF** | Investimento em ativos fixos (infraestrutura). | Quantitativa Contínua | Dólares (USD) | Valores positivos |
| **industria_PERCPIB** | Peso da indústria no PIB total. | Quantitativa Contínua | Porcentagem | 0 a 100 |
| **GDP_PC** | PIB per capita (riqueza média por pessoa). | Quantitativa Contínua | Dólares (USD) | Valores positivos |
| **gasto_educ_PERCPIB** | Gasto público em educação em relação ao PIB. | Quantitativa Contínua | Porcentagem | 0 a 100 |
| **forca_trab_educ** | Mão de obra com nível superior completo. | Quantitativa Contínua | Porcentagem | 0 a 100 |
| **populacao** | Contagem total de habitantes residentes. | Quantitativa Discreta | Indivíduos | Inteiros positivos |

# Questões

## 1. Como criar uma nova base de dados contendo apenas as colunas de riqueza e educação filtrando apenas países que possuem uma população superior a 100 milhões de habitantes?

In [14]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/gabarito_nivelamento/aula_02_exemplo_01.csv")

df = df.rename(columns={
    "NY.GDP.PCAP.CD": "GDP_PC",
    "SL.TLF.ADVN.ZS" : "forca_trab_educ",
    "AG.LND.ARBL.HA.PC": "arable_land",
    "NV.IND.TOTL.ZS": "industria_PERCPIB",
    "SE.XPD.TOTL.GD.ZS": "gasto_educ_PERCPIB",
    "NE.GDI.FTOT.CD": "FBKF",
    "SP.POP.TOTL": "populacao"})

resultado_1 = df[df['populacao'] > 100_000_000][['GDP_PC', 'gasto_educ_PERCPIB']]
resultado_1.head()

          GDP_PC  gasto_educ_PERCPIB
17   2129.798970            1.130950
26   9029.833044            5.963470
36  10342.900952                 NaN
57   2962.988920                 NaN
61    793.473247            4.480869

## 2. Como extrair o valor exato do PIB per capita da 10ª linha do DataFrame e, em seguida, selecionar as 5 primeiras linhas apenas para as colunas de terra arável e indústria?

In [15]:
# Extraindo o valor escalar (único) da coluna GDP_PC na 10ª linha
pib_10_linha = df.iloc[9]['GDP_PC']

pib_10_linha

np.float64(18896.3721832248)

In [16]:
df.iloc[9]["GDP_PC"].tolist()

18896.3721832248

In [17]:
colunas_alvo = ['arable_land', 'industria_PERCPIB']
resultado = df[colunas_alvo].head(5)

resultado

   arable_land  industria_PERCPIB
0     0.018315          11.628810
1     0.205726          14.058112
2     0.165001          42.225105
3     0.237557          22.965521
4     0.010345          11.699818

## 3. Como criar uma nova coluna que classifique como "Alta Escolaridade" países com Mão de Obra Qualificada acima de 50% e "Baixa Escolaridade" os demais?

In [18]:
# Criando a nova coluna através do mapeamento com lambda
df['escolaridade_status'] = df['forca_trab_educ'].map(
    lambda x: 'Alta Escolaridade' if x > 50 else 'Baixa Escolaridade'
)

# Verificando o resultado
df[['country_name', 'forca_trab_educ', 'escolaridade_status']].head()

  country_name  forca_trab_educ escolaridade_status
0        Aruba              NaN  Baixa Escolaridade
1  Afghanistan              NaN  Baixa Escolaridade
2       Angola           91.492   Alta Escolaridade
3      Albania           75.465   Alta Escolaridade
4      Andorra              NaN  Baixa Escolaridade

## 4. Como podemos localizar o país que possui a maior Carga Industrial  e aquele com a menor área de terra arável do mundo?

In [19]:
# Ordena do maior para o menor e pega a primeira linha
maior_industria = df.sort_values('industria_PERCPIB', ascending=False).iloc[0]
maior_industria

country_code                         BRN
country_name           Brunei Darussalam
arable_land                     0.009036
FBKF                     5186602151.1209
industria_PERCPIB              62.515321
GDP_PC                      30426.573066
gasto_educ_PERCPIB                   NaN
forca_trab_educ                   81.121
populacao                       442680.0
escolaridade_status    Alta Escolaridade
Name: 28, dtype: object

In [20]:
# Ordena do menor para o maior e pega a primeira linha
menor_terra = df.sort_values('arable_land', ascending=True).iloc[0]
menor_terra

country_code                          SGP
country_name                    Singapore
arable_land                      0.000098
FBKF                   86088195062.448807
industria_PERCPIB               24.070729
GDP_PC                       65952.037896
gasto_educ_PERCPIB                2.72951
forca_trab_educ                       NaN
populacao                       5703569.0
escolaridade_status    Baixa Escolaridade
Name: 170, dtype: object

# 5.  Quais países possuem uma porcentagem da força de trabalho com educação avançada superior a 25% e, simultaneamente, um gasto público em educação acima de 5% do PIB?

In [21]:
df.loc[ (df["forca_trab_educ"] > 25) & (df["gasto_educ_PERCPIB"] > 5), "country_name" ]

11              Austria
14              Belgium
16         Burkina Faso
23               Belize
25              Bolivia
26               Brazil
30             Botswana
33          Switzerland
35                Chile
44           Costa Rica
48               Cyprus
50              Germany
53              Denmark
60              Estonia
62              Finland
64               France
68       United Kingdom
83             Honduras
93              Iceland
94               Israel
96              Jamaica
100               Kenya
103            Kiribati
122             Moldova
126    Marshall Islands
144         Netherlands
145              Norway
148         New Zealand
169             Senegal
182              Sweden
196             Tunisia
201             Ukraine
214        South Africa
Name: country_name, dtype: object