In [1]:
import pandas as pd

df = pd.read_excel("/content/drive/MyDrive/gabarito_nivelamento/rais_mulheres_2008.xlsx")

In [2]:
df.head()

,uf,genero,fx_etaria,escolaridade,tamestab,rem_dezem,temp_empr,salario
0,SP,FEMININO,50 A 64,SUP. COMP,DE 500 A 999,48.689999,416.600010,20206.349585
1,SP,FEMININO,50 A 64,SUP. COMP,1000 OU MAIS,4.240000,172.600010,1759.599917
2,RJ,FEMININO,50 A 64,SUP. COMP,1000 OU MAIS,20.559999,350.399990,8532.399585
3,SP,FEMININO,40 A 49,SUP. COMP,DE 50 A 99,14.590000,46.299999,6054.850000
4,AM,FEMININO,50 A 64,SUP. COMP,DE 50 A 99,11.730000,418.899990,4867.950000

In [3]:
df_pib_pc = pd.DataFrame({'PIB_PC': {'SP': 24456, 'MG': 14232, 'RJ': 21621, 'RS': 18378, 'PR': 16927,
                                     'BA':  8378, 'CE':  7111, 'SC': 20368, 'PE':  8064, 'GO': 12878,
                                     'DF': 45977, 'PA':  7992, 'MA':  6103, 'PB':  6865, 'PI':  5372,
                                     'ES': 20230, 'RN':  8202, 'AL':  6227, 'AM': 14014, 'SE':  9778,
                                     'MS': 14188, 'MT': 17927, 'AC':  9896, 'TO': 10223, 'RO': 11976,
                                     'AP': 11032, 'RR': 11844}}).reset_index(names='UF')
df_pib_pc.head()

   UF  PIB_PC
0  SP   24456
1  MG   14232
2  RJ   21621
3  RS   18378
4  PR   16927

# Exiba as estatísticas descritivas (média, desvio padrão, quartis) da coluna de salário.

In [4]:
df["salario"].describe()

count    20377.000000
mean      2306.825879
std       2893.039287
min        141.100000
25%        792.650000
50%       1419.300041
75%       2577.150000
max      48774.950000
Name: salario, dtype: float64

# Filtre o DataFrame para exibir apenas as trabalhadoras com Ensino Superior Completo (SUP. COMP).

In [5]:
df.loc[df["escolaridade"] == "SUP. COMP" ]

,uf,genero,fx_etaria,escolaridade,tamestab,rem_dezem,temp_empr,salario
0,SP,FEMININO,50 A 64,SUP. COMP,DE 500 A 999,48.689999,416.600010,20206.349585
1,SP,FEMININO,50 A 64,SUP. COMP,1000 OU MAIS,4.240000,172.600010,1759.599917
2,RJ,FEMININO,50 A 64,SUP. COMP,1000 OU MAIS,20.559999,350.399990,8532.399585
3,SP,FEMININO,40 A 49,SUP. COMP,DE 50 A 99,14.590000,46.299999,6054.850000
4,AM,FEMININO,50 A 64,SUP. COMP,DE 50 A 99,11.730000,418.899990,4867.950000
...,...,...,...,...,...,...,...,...
20361,SP,FEMININO,40 A 49,SUP. COMP,1000 OU MAIS,10.130000,71.300003,4203.950000
20363,SP,FEMININO,50 A 64,SUP. COMP,1000 OU MAIS,6.000000,10.500000,2490.000000
20364,SP,FEMININO,50 A 64,SUP. COMP,1000 OU MAIS,4.790000,292.700010,1987.850000
20368,SP,FEMININO,50 A 64,SUP. COMP,1000 OU MAIS,6.330000,265.899990,2626.949958
20369,SP,FEMININO,30 A 39,SUP. COMP,DE 500 A 999,4.710000,130.899990,1954.650000

# Conte quantas trabalhadoras existem em cada UF.

In [6]:
df["uf"].value_counts().head()

uf
SP    5303
MG    2517
RJ    1834
RS    1538
PR    1322
Name: count, dtype: int64

# Crie uma nova coluna chamada salario_anual que seja o valor do salário multiplicado por 12.

In [7]:
df["salario_anual"] = df["salario"]  * 12
df.head()

,uf,genero,fx_etaria,escolaridade,tamestab,rem_dezem,temp_empr,salario,salario_anual
0,SP,FEMININO,50 A 64,SUP. COMP,DE 500 A 999,48.689999,416.600010,20206.349585,242476.195020
1,SP,FEMININO,50 A 64,SUP. COMP,1000 OU MAIS,4.240000,172.600010,1759.599917,21115.199004
2,RJ,FEMININO,50 A 64,SUP. COMP,1000 OU MAIS,20.559999,350.399990,8532.399585,102388.795020
3,SP,FEMININO,40 A 49,SUP. COMP,DE 50 A 99,14.590000,46.299999,6054.850000,72658.200000
4,AM,FEMININO,50 A 64,SUP. COMP,DE 50 A 99,11.730000,418.899990,4867.950000,58415.400000

# Realize um Inner Join entre df_rais e df_pib_pc para anexar o PIB de cada estado às trabalhadoras.  Nomeie essa base de base_faixa.

In [8]:
base_faixa = pd.merge(df,df_pib_pc, how = "inner", left_on = "uf", right_on = "UF")
base_faixa.head()

,uf,genero,fx_etaria,escolaridade,tamestab,rem_dezem,temp_empr,salario,salario_anual,UF,PIB_PC
0,SP,FEMININO,50 A 64,SUP. COMP,DE 500 A 999,48.689999,416.600010,20206.349585,242476.195020,SP,24456
1,SP,FEMININO,50 A 64,SUP. COMP,1000 OU MAIS,4.240000,172.600010,1759.599917,21115.199004,SP,24456
2,RJ,FEMININO,50 A 64,SUP. COMP,1000 OU MAIS,20.559999,350.399990,8532.399585,102388.795020,RJ,21621
3,SP,FEMININO,40 A 49,SUP. COMP,DE 50 A 99,14.590000,46.299999,6054.850000,72658.200000,SP,24456
4,AM,FEMININO,50 A 64,SUP. COMP,DE 50 A 99,11.730000,418.899990,4867.950000,58415.400000,AM,14014

# Na base_faixa, crie uma coluna chamada faixa_pib que divida os valores de PIB_PC em 3 categorias (Baixo, Médio, Alto) usando quantis.

In [9]:
base_faixa["faixa_pib"] = pd.qcut(base_faixa["PIB_PC"], q = 3, labels = ["Baixo", "Médio", "Alto"])

base_faixa.head()

,uf,genero,fx_etaria,escolaridade,tamestab,rem_dezem,temp_empr,salario,salario_anual,UF,PIB_PC,faixa_pib
0,SP,FEMININO,50 A 64,SUP. COMP,DE 500 A 999,48.689999,416.600010,20206.349585,242476.195020,SP,24456,Alto
1,SP,FEMININO,50 A 64,SUP. COMP,1000 OU MAIS,4.240000,172.600010,1759.599917,21115.199004,SP,24456,Alto
2,RJ,FEMININO,50 A 64,SUP. COMP,1000 OU MAIS,20.559999,350.399990,8532.399585,102388.795020,RJ,21621,Médio
3,SP,FEMININO,40 A 49,SUP. COMP,DE 50 A 99,14.590000,46.299999,6054.850000,72658.200000,SP,24456,Alto
4,AM,FEMININO,50 A 64,SUP. COMP,DE 50 A 99,11.730000,418.899990,4867.950000,58415.400000,AM,14014,Baixo

# Crie uma amostra aleatória de 10 mulheres e realize um Right Join com a tabela de PIB. Observe o que acontece com os estados que não possuem representantes na amostra.

In [10]:
df_amostra = df.sample(10, replace= False)

df_right = pd.merge(df_amostra, df_pib_pc, how = "right", left_on= "uf", right_on = "UF")
df_right

,uf,genero,fx_etaria,escolaridade,tamestab,rem_dezem,temp_empr,salario,salario_anual,UF,PIB_PC
0,SP,FEMININO,50 A 64,MEDIO COMPL,1000 OU MAIS,1.930000,183.899990,800.949959,9611.399502,SP,24456
1,SP,FEMININO,40 A 49,SUP. COMP,1000 OU MAIS,4.530000,34.200001,1879.950083,22559.400996,SP,24456
2,MG,FEMININO,40 A 49,ATE 5.A INC,DE 250 A 499,1.040000,148.899990,431.600000,5179.200000,MG,14232
3,MG,FEMININO,40 A 49,MEDIO COMPL,ATE 4,3.410000,188.899990,1415.150042,16981.800498,MG,14232
4,MG,FEMININO,40 A 49,SUP. COMP,1000 OU MAIS,2.760000,173.500000,1145.400000,13744.800000,MG,14232
5,RJ,FEMININO,50 A 64,SUP. INCOMP,1000 OU MAIS,8.300000,257.700010,3444.500083,41334.000996,RJ,21621
6,RS,FEMININO,40 A 49,MEDIO COMPL,1000 OU MAIS,2.110000,316.200010,875.649959,10507.799502,RS,18378
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PR,16927
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,8378
9,CE,FEMININO,40 A 49,SUP. COMP,1000 OU MAIS,17.889999,233.000000,7424.349585,89092.195020,CE,7111
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SC,20368
11,PE,FEMININO,50 A 64,SUP. COMP,DE 500 A 999,1.870000,424.200010,776.050000,9312.600000,PE,8064
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GO,12878
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DF,45977
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PA,7992
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MA,6103
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PB,6865
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PI,5372
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ES,20230
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RN,8202
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AL,6227
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AM,14014
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SE,9778
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MS,14188
24,MT,FEMININO,40 A 49,MEDIO COMPL,1000 OU MAIS,9.990000,311.500000,4145.849917,49750.199004,MT,17927
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AC,9896
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TO,10223
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RO,11976
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AP,11032
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RR,11844

# Agrupe os dados da base_faixa pela coluna escolaridade e calcule a média e a mediana dos salários.

In [11]:
base_faixa.groupby(["escolaridade"])["salario"].agg("mean","median")

escolaridade
5.A CO FUND      846.565161
6. A 9. FUND     931.116347
ATE 5.A INC      833.746423
FUND COMPL      1133.538553
MEDIO COMPL     1798.425178
MEDIO INCOMP    1279.712055
SUP. COMP       3551.383044
SUP. INCOMP     2522.716337
Name: salario, dtype: float64

# Agrupe os dados da base_faixa pela nova coluna faixa_pib e calcule a soma total da remuneração e a contagem de trabalhadoras por grupo.

In [12]:
base_faixa.groupby(["faixa_pib"])["salario"].agg(["count","sum"])

/tmp/ipython-input-2296849455.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  base_faixa.groupby(["faixa_pib"])["salario"].agg(["count","sum"])

           count           sum
faixa_pib
Baixo       8779  1.597501e+07
Médio       5873  1.388137e+07
Alto        5725  1.714981e+07

# Faça um agrupamento múltiplo: calcule a média salarial cruzando faixa_pib e escolaridade simultaneamente na base_faixa.

In [13]:
base_faixa.groupby(["faixa_pib","escolaridade"])["salario"].mean()

/tmp/ipython-input-3154845037.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  base_faixa.groupby(["faixa_pib","escolaridade"])["salario"].mean()

faixa_pib  escolaridade
Baixo      5.A CO FUND      652.959434
           6. A 9. FUND     771.502832
           ATE 5.A INC      731.688359
           FUND COMPL       982.233857
           MEDIO COMPL     1477.135688
           MEDIO INCOMP    1170.355184
           SUP. COMP       2830.867352
           SUP. INCOMP     1925.190125
Médio      5.A CO FUND      908.994917
           6. A 9. FUND     954.253996
           ATE 5.A INC      932.391151
           FUND COMPL      1132.339703
           MEDIO COMPL     1835.610784
           MEDIO INCOMP    1259.535424
           SUP. COMP       3616.601251
           SUP. INCOMP     2537.759243
Alto       5.A CO FUND     1138.263551
           6. A 9. FUND    1176.875508
           ATE 5.A INC     1071.298969
           FUND COMPL      1328.356581
           MEDIO COMPL     2291.360427
           MEDIO INCOMP    1519.782976
           SUP. COMP       4439.830754
           SUP. INCOMP     3461.214816
Name: salario, dtype: float64