In [1]:
import pandas as pd

df = pd.read_excel("/content/drive/MyDrive/gabarito_nivelamento/rais_mulheres_2008.xlsx")

In [2]:
df.head()

,uf,genero,fx_etaria,escolaridade,tamestab,rem_dezem,temp_empr,salario
0,SP,FEMININO,50 A 64,SUP. COMP,DE 500 A 999,48.689999,416.600010,20206.349585
1,SP,FEMININO,50 A 64,SUP. COMP,1000 OU MAIS,4.240000,172.600010,1759.599917
2,RJ,FEMININO,50 A 64,SUP. COMP,1000 OU MAIS,20.559999,350.399990,8532.399585
3,SP,FEMININO,40 A 49,SUP. COMP,DE 50 A 99,14.590000,46.299999,6054.850000
4,AM,FEMININO,50 A 64,SUP. COMP,DE 50 A 99,11.730000,418.899990,4867.950000

### Como podemos descobrir quantas trabalhadoras existem por Unidade Federativa (UF) na nossa amostra e qual a porcentagem que cada estado representa em relação ao total do país?

In [3]:
df["uf"].value_counts()

uf
SP    5303
MG    2517
RJ    1834
RS    1538
PR    1322
BA    1032
CE     800
SC     713
PE     666
GO     614
DF     422
PA     410
MA     379
PB     368
PI     314
ES     299
RN     272
AL     267
AM     256
SE     239
MS     234
MT     167
AC     144
TO      86
RO      85
AP      57
RR      39
Name: count, dtype: int64

In [4]:
df["uf"].value_counts(normalize = True)

uf
SP    0.260244
MG    0.123522
RJ    0.090003
RS    0.075477
PR    0.064877
BA    0.050645
CE    0.039260
SC    0.034990
PE    0.032684
GO    0.030132
DF    0.020710
PA    0.020121
MA    0.018599
PB    0.018060
PI    0.015410
ES    0.014673
RN    0.013348
AL    0.013103
AM    0.012563
SE    0.011729
MS    0.011484
MT    0.008196
AC    0.007067
TO    0.004220
RO    0.004171
AP    0.002797
RR    0.001914
Name: proportion, dtype: float64

### Crie um DataFrame chamado df_amostra contendo apenas 5 mulheres selecionadas aleatoriamente.

In [5]:
df_amostra = df.sample(5, replace = False)

### Se tentarmos unir essa amostra de 5 pessoas com a base de PIB (que tem 27 estados), qual comportamento você espera observar ao testar:

In [6]:
df_pib_pc = pd.DataFrame({'PIB_PC': {'SP': 24456, 'MG': 14232, 'RJ': 21621, 'RS': 18378, 'PR': 16927,
                                     'BA':  8378, 'CE':  7111, 'SC': 20368, 'PE':  8064, 'GO': 12878,
                                     'DF': 45977, 'PA':  7992, 'MA':  6103, 'PB':  6865, 'PI':  5372,
                                     'ES': 20230, 'RN':  8202, 'AL':  6227, 'AM': 14014, 'SE':  9778,
                                     'MS': 14188, 'MT': 17927, 'AC':  9896, 'TO': 10223, 'RO': 11976,
                                     'AP': 11032, 'RR': 11844}}).reset_index(names='UF')
df_pib_pc

    UF  PIB_PC
0   SP   24456
1   MG   14232
2   RJ   21621
3   RS   18378
4   PR   16927
5   BA    8378
6   CE    7111
7   SC   20368
8   PE    8064
9   GO   12878
10  DF   45977
11  PA    7992
12  MA    6103
13  PB    6865
14  PI    5372
15  ES   20230
16  RN    8202
17  AL    6227
18  AM   14014
19  SE    9778
20  MS   14188
21  MT   17927
22  AC    9896
23  TO   10223
24  RO   11976
25  AP   11032
26  RR   11844

### Left Join: Veremos as 5 mulheres com seus PIBs ou os 27 estados com PIBs vazios?

In [7]:
df_left = pd.merge(df_amostra, df_pib_pc, how = 'left', left_on= "uf", right_on = "UF")
df_left

,uf,genero,fx_etaria,escolaridade,tamestab,rem_dezem,temp_empr,salario,UF,PIB_PC
0,BA,FEMININO,30 A 39,MEDIO COMPL,1000 OU MAIS,2.23,201.70000,925.450000,BA,8378
1,SP,FEMININO,30 A 39,SUP. COMP,1000 OU MAIS,8.24,177.89999,3419.599917,SP,24456
2,CE,FEMININO,50 A 64,5.A CO FUND,DE 500 A 999,1.33,188.89999,551.950000,CE,7111
3,PR,FEMININO,30 A 39,MEDIO COMPL,1000 OU MAIS,3.76,178.39999,1560.400000,PR,16927
4,SP,FEMININO,40 A 49,SUP. COMP,DE 20 A 49,4.98,250.80000,2066.700000,SP,24456

### Right Join: O que acontece com os estados que não possuem nenhuma representante nessas 5 mulheres selecionadas?

In [8]:
df_right = pd.merge(df_amostra, df_pib_pc, how="right", left_on = "uf", right_on= "UF" )
df_right

,uf,genero,fx_etaria,escolaridade,tamestab,rem_dezem,temp_empr,salario,UF,PIB_PC
0,SP,FEMININO,30 A 39,SUP. COMP,1000 OU MAIS,8.24,177.89999,3419.599917,SP,24456
1,SP,FEMININO,40 A 49,SUP. COMP,DE 20 A 49,4.98,250.80000,2066.700000,SP,24456
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MG,14232
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RJ,21621
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RS,18378
5,PR,FEMININO,30 A 39,MEDIO COMPL,1000 OU MAIS,3.76,178.39999,1560.400000,PR,16927
6,BA,FEMININO,30 A 39,MEDIO COMPL,1000 OU MAIS,2.23,201.70000,925.450000,BA,8378
7,CE,FEMININO,50 A 64,5.A CO FUND,DE 500 A 999,1.33,188.89999,551.950000,CE,7111
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SC,20368
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PE,8064
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GO,12878
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DF,45977
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PA,7992
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MA,6103
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PB,6865
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PI,5372
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ES,20230
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RN,8202
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AL,6227
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AM,14014
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SE,9778
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MS,14188
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MT,17927
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AC,9896
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TO,10223
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RO,11976
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AP,11032
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RR,11844